{% extends "layout.html" %}

{% block content %}
<h1>Bienvenido a Diverpool</h1>
<div class = "container" id="container1">
    <p class="descripcion-texto">
        Bienvenidos a Diverpool, tu destino definitivo para expresar tu estilo único a través de nuestras exclusivas colecciones de polos, poleras y casacas. En Diverpool, nos enorgullece ofrecer prendas de la más alta calidad que capturan y celebran la individualidad de cada cliente.
    </p>
    <p class="descripcion-texto">
        Misión: En nuestra empresa de polos, nos comprometemos a crear prendas de alta calidad que reflejen la individualidad y el estilo de nuestros clientes.
    </p>
    <p class="descripcion-texto">
        Visión: Imaginamos un futuro donde nuestra marca de polos sea sinónimo de calidad, estilo y sostenibilidad.
    </p>
    <img src="../static/logo.jpg" class="img-thumbnail" alt="Logo de la Empresa">
</div>

<div class="container" id="container2">
    <img src="../static/polo1.png" class="imgprod" alt="Polo">
    <img src="../static/polera1.png" class="imgprod" alt="Polera">
    <img src="../static/casaca.png" class="imgprod" alt="Casaca">
</div>
{% endblock %}