{% extends "layout.html" %}

{% block content %}
<h1>Lista de Vendedores</h1>
<div class="container" id="container1">
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for row in resultados %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" id="container2">
    <button class="btn" id="button1">Registrar vendedor</button>
    <button class="btn" id="button2">Eliminar vendedor</button>
</div>

<div id="ventanaVendedor" style="display: none;">
    <div class="container" id="container3">
        <form id="formAgregarVendedor" method="post" action="/agregarVendedor" style="display: none;">
            <label for="idVendedor">ID:</label>
            <input type="number" id="idVendedor" name="idVendedor" required>
            <label for="Vdni">DNI:</label>
            <input type="number" id="Vdni" name="Vdni" required>
            <label for="VNombre">Nombre:</label>
            <input type="text" id="VNombre" name="VNombre" required>
            <label for="VApellidoPat">Apellido Paterno:</label>
            <input type="text" id="VApellidoPat" name="VApellidoPat" required>
            <label for="VApellidoMat">Apellido Materno:</label>
            <input type="text" id="VApellidoMat" name="VApellidoMat" required>
            <label for="VTelefono">Telefono:</label>
            <input type="number" id="VTelefono" name="VTelefono" required>
            <button class="btn" id="btnAR" type="submit">Añadir vendedor</button>
            <button class="btn" id="btnAC">Cancelar</button>
        </form>

        <form id="formEliminarVendedor" method="post" action="/eliminarVendedor" style="display: none;">
            <label for="idDVendedor">ID:</label>
            <input type="number" id="idDVendedor" name="idDVendedor" required>
            <label for="dniD">DNI:</label>
            <input type="number" id="dniD" name="dniD" required>
            <button class="btn" id="btnDR" type="submit">Eliminar vendedor</button>
            <button class="btn" id="btnDC">Cancelar</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnIniciarFormularioA = document.getElementById('button1');
        var btnIniciarFormularioE = document.getElementById('button2');

        var btnAgregarVendedor = document.getElementById('btnAR');
        var btnCerrar = document.getElementById('btnAC');

        var btnEliminarVendedor = document.getElementById('btnDR');
        var btnCancelar = document.getElementById('btnDC');

        var ventanaVendedor = document.getElementById('ventanaVendedor');
        var formAgregarVendedor = document.getElementById('formAgregarVendedor');
        var formEliminarVendedor = document.getElementById('formEliminarVendedor');

        btnIniciarFormularioA.addEventListener('click', function () {
            // Oculta el formulario de eliminar
            formEliminarVendedor.style.display = 'none';
            // Muestra el formulario de agregar
            formAgregarVendedor.style.display = 'block';
            // Muestra la ventana
            ventanaVendedor.style.display = 'block';
        });

        btnIniciarFormularioE.addEventListener('click', function () {
            // Oculta el formulario de agregar
            formAgregarVendedor.style.display = 'none';
            // Muestra el formulario de eliminar
            formEliminarVendedor.style.display = 'block';
            // Muestra la ventana
            ventanaVendedor.style.display = 'block';
        });

        formAgregarVendedor.addEventListener('submit', function (event) {
            // Evita que el formulario se envíe de la manera tradicional si se hizo clic en "Cancelar"
            if (event.submitter.id === 'btnAC') {
                event.preventDefault();
                // Puedes realizar acciones adicionales aquí si se hizo clic en "Cancelar"
            } else {
                // Obtén los datos del formulario
                var formData = new FormData(formAgregarVendedor);

                // Realiza la solicitud Fetch al servidor
                fetch('/agregarVendedor', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // Actualiza la tabla con los nuevos datos
                        // Puedes utilizar el objeto 'data' para acceder a los nuevos resultados
                        console.log(data);
                        // Actualiza la tabla según sea necesario
                        // ...

                        // Cierra la ventana emergente
                        ventanaVendedor.style.display = 'none';
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                // ...
            };
        });

        formEliminarVendedor.addEventListener('submit', function (event) {
            // Evita que el formulario se envíe de la manera tradicional si se hizo clic en "Cancelar"
            if (event.submitter.id === 'btnDC') {
                event.preventDefault();
                // Puedes realizar acciones adicionales aquí si se hizo clic en "Cancelar"
            } else {
                // Obtén los datos del formulario
                var formData = new FormData(formEliminarVendedor);

                // Realiza la solicitud Fetch al servidor
                fetch('/eliminarVendedor', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // Actualiza la tabla con los nuevos datos
                        // Puedes utilizar el objeto 'data' para acceder a los nuevos resultados
                        console.log(data);
                        // Actualiza la tabla según sea necesario
                        // ...

                        // Cierra la ventana emergente
                        ventanaVendedor.style.display = 'none';
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                // ...
            };
        });
    });
</script>
{% endblock %}